.switch(ng-class='{ disabled: disabled }')
  input(
    switch-origin
    ng-model='model',
    ng-attr-type='{{ attrType }}',
    ng-attr-id='{{ attrId }}',
    ng-attr-name='{{ attrName }}',
    ng-attr-value='{{ attrValue }}',
    ng-disabled='disabled')

  .switch-switcher

  .switch-inner
    .switch-on
      .inner
        span.content(switch-transclude='on') ON

    .switch-off
      .inner
        span.content(switch-transclude='off') OFF
